body{
    background: rgb(143, 118, 118);
    color: rgb(8, 8, 8);
    line-height: 1.3;
    font-family: 'Yusei Magic', sans-serif;
    padding: 0 1.5em;
    text-align: left;

}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
    overflow:hidden;
    display: block;

}
li
{
    float:right;
    margin-right: 50px;
    margin-top: 10px;
    display: block;
}
a
{
    text-decoration: none;
    display:block;
    width:60px;
    color: rgb(8, 8, 8);

}
.titulito{
    text-align: center;
    position: relative;
    top: 10%;
}
.ico{
 margin-top: -4%;
 position: relative;
 bottom: -42px;
}
.Pagina{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    width: 100%;
    text-align: center;
    display: inline-block;
}


.perfilboton{
    margin-top: 3px ;
}
#navegacion{
    background-color: rgb(185, 133, 185);
    padding: 1%;
}
.perfil{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
    display: inline-block;
}

div.fotito {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 10%;
    display: inline-block;

}
.Estudios{
    margin-top: 10%;
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / 3;
    grid-gap: 10px;
}
.izquierda{
    display: block;
    margin: 0;
    margin-top: 50px;
    padding: 1em;
}
.textoizquierda{ 
    padding: 20px 10px;
   
}
.textoizquierda .tabla{
    text-align: center;
    margin: 0 0 1rem 0;
    background: #D2B4DE;
}
.tituli{
    text-align: center;
    color: rgb(9, 18, 95);
    font-size: 20px;
}

.Habilidades{
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / 3;
    margin-top: 30px;
}
.imagen_2{
    display: block;
    margin: 0;
    margin-top: 50px;
    padding: 1em;
}                       
.texto1{
    padding: 20px 110px;
    color: black;
    margin: 0 0 1rem 0;

}
.sub{
    font-size: 18px;
}
.cursos{
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / 3;
    margin-top: 30px;
}
.titu{
    text-align: center;
    color: rgb(9, 18, 95);
    font-size: 20px;
}
.imagen_3{
    display: block;
    margin: 0;
    margin-top: 50px;
    padding: 1em;
}                       
.texto2{
    padding: 20px 110px;
    color: black;
    margin: 0 0 1rem 0;

}
.sub2{
    font-size: 18px;
}
.mi_trabajo{

    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / 3;
    margin-top: 30px;
}
.imagen3{
    display: block;
    margin: 0;
    margin-top: 50px;
    padding: 1em;
}
.textto{
    padding: 20px 110px;
    color: black;
    margin: 0 0 1rem 0;

}

.photo-perfil{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    display: block;
   
}
.comentario{
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / 4;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 100px;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    background: #ebebeb;
}
.request{
    position: absolute;
    right: 20px;
    padding: 10px 80px;
    font-size: 16px;
    color: white;
    background: #748f9b;
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
}
.p1p{
margin-left: 36px;
}
.titulo2{
    text-align: center;
    color: rgb(9, 18, 95);
    font-size: 20px;
}
.cont{
    text-align: left;
}

.xdxd{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);

}
.xdxd >*{
    padding: 1em;
}
.contact-form{
    background: lightcoral;
}
.contact-form form{
    display: grid;
    grid-template-columns: auto auto;
}
.contact-form form p{
    margin: 0;
    padding: 1em;
}
.contact-form form label{
    display: block;
}
.contact-form form .block{
    grid-column: 1/3;
}
.contact-form form button, .contact-form form input, .contact-form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #330f0f;
}
.contact-form form button{
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.fifth {
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 90px;
    font-size: 20px;
  }
  .fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;

  }
  .fifth:hover {
    color: #fff;
  }
  .fifth:hover:after {
    width: 110%;
  }
  
  
  .scene {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .upper {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  
  .moon {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: deeppink;
    position: absolute;
    bottom: -150px;
    left: 50px;
    border: 5px solid #333;
    box-sizing: border-box;
    box-shadow: inset 0 -160px mediumvioletred;
    opacity: 0.9;
  }
  
  .crater1 {
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    position: absolute;
    top: 20px;
    right: 150px;
    background-color: mediumvioletred;
    opacity: 0.2;
    border: 1px solid #333;
  }
  
  .crater2 {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position: absolute;
    top: 70px;
    right: 180px;
    background-color: mediumvioletred;
    opacity: 0.2;
    border: 1px solid #333;
  }
  
  .cloud1 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 100px;
    right: -50px;
    animation: float2 4s ease-in-out infinite alternate;
  }
  
  .cloud2 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    animation: float1 4s ease-in-out infinite alternate;
  }
  
  @keyframes float1 {
    from {transform: translateX(-50px);}
    to {transform: translateX(50px);}
  }
  
  @keyframes float2 {
    from {transform: translateX(50px);}
    to {transform: translateX(-50px);}
  }
  
  .circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 60px;
    border-radius: 50%;
    background-color: fuchsia;
  }
  
  .circle::before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: -40px;
    border-radius: 50%;
    background-color: fuchsia;
  }
  
  .circle::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 50%;
    background-color: fuchsia;
  }
  
  .filler {
    width: 145px;
    height: 40px;
    border-radius: 17px;
    position: absolute;
    top: 70px;
    left: 28px;
    background-color: fuchsia;
    box-shadow: inset 0 -5px purple;
  }
  
  .star1 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: 20px;
    right: 0;
    animation: twinkle 0.5s 0.2s linear infinite alternate;
  }
  
  .star1::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    right: 8px;
    animation: twinkle 0.5s  0.2s linear infinite alternate;
  }
  
  .star2 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -20px;
    right: 200px;
    animation: twinkle 0.5s 0.3s linear infinite alternate;
  }
  
  .star2::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    right: 8px;
    animation: twinkle 0.5s 0.3s linear infinite alternate;
  }
  
  .star3 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: 130px;
    left: -20px;
    animation: twinkle 0.5s linear infinite alternate;
  }
  
  .star3::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    left: 8px;
    animation: twinkle 0.5s linear infinite alternate;
  }
  
  @keyframes twinkle {
    to {background-color: deeppink;}
  }
  
  .tail {
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: -10px;
    left: 2px;
  }
  
  .left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkslateblue;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 1px solid #333;
    z-index: 1;
  }
  
  .left::before {
    content: "";
    width: 60px;
    height: 20px;
    border-bottom: 60px solid darkslateblue;
    border-radius: 0 0 0 100%;
    position: absolute;
    top: -20px;
    left: -30px;
    animation: excite1 2s infinite alternate linear;
    transform-origin: right;
  }
  
  @keyframes excite1 {
    to {transform: rotateZ(-5deg);}
  }
  
  .right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkslateblue;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid #333;
    z-index: 1;
  }
  
  .right::after {
    content: "";
    width: 60px;
    height: 20px;
    border-bottom: 60px solid darkslateblue;
    border-radius: 0 0 100% 0;
    position: absolute;
    top: -20px;
    right: -30px;
    animation: excite2 2s linear alternate infinite;
    transform-origin: left;
  }
  
  @keyframes excite2 {
    to {transform: rotateZ(5deg);}
  }
  
  
  .body {
    height: 80px;
    width: 58px;
    border-radius: 25px;
    position: absolute;
    bottom: -18px;
    left: 54px;
    background-color: darkslateblue;
    transform: rotateZ(-10deg);
    border: 2px solid #333;
  }
  
  .drop {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: -25px;
    right: 180px;
    animation: spray 3s ease-out infinite;
  }
  
  .drop::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: spray 3s 0.3s ease-out infinite;
  }
  
  .drop::after {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: spray 3s 0.7s ease-out infinite;
  }
  
  @keyframes spray {
    0% {transform: translateY(0);}
    30% {transform: translateY(-100px);}
    60% {transform: translateY(0);}
  }
  
  
  .lower {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 5px solid #333;
    overflow: hidden;
  }
  
  .whale {
    width: 400px;
    height: 400px;
    border-radius: 300px;
    position: absolute;
    top: -250px;
    left: 50px;
    background-color: slateblue;
    box-shadow: inset 0 -10px darkslateblue;
    border: 5px solid #333;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .eye {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 110px;
    right: 120px;
    background-color: #333;
    animation: blink 2s linear infinite;
  }
  
  @keyframes blink {
    0% {transform: scaleY(0.1);}
    5% {transform: scaleY(0.1);}
    5.1% {transform: scaleY(1);}
  }
  
  .detail1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: lightsteelblue;
    overflow: hidden;
    border: 2px solid #333;
    box-sizing: border-box;
  }
  
  .fin {
    width: 50px;
    height: 120px;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    right: 180px;
    background-color: slateblue;
    border: 5px solid #333;
    border-top: 5px solid transparent;
    transform: rotateZ(15deg);
    box-shadow: inset 0 -10px darkslateblue;
    animation: swim 2s linear infinite alternate;
    transform-origin: top;
  }
  
  @keyframes swim {
    to {transform: rotateZ(20deg);}
  }
  
  .detail2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 30px;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
    transform: rotateZ(-50deg);
  }
  
  .detail2::before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
  }
  
  .detail2::after {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 0;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
  }
  #spopup{
    background:#f3f3f3;
    border-radius:9px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow:inset 0 0 3px #333;
    -webkit-box-shadow:inset 0 0 3px #333;
    box-shadow:inner 0 0 3px #333;
    padding:12px 14px 12px 14px;
    width:300px;
    position:fixed;
    bottom:13px;
    right:2px;
    display:none;
    z-index:90;
}